include ../mixins/product-item

section.product.container 
    h3.subtitle For You
    h2.section-title Top Featured Products
    .product__row
        +product-item(
            {
                img: './assets/images/product-1.png',
                text: 'Fresh organic apricot'
            }
        )
        +product-item(
            {
                img: './assets/images/product-2.png',
                text: 'Cucumber'
            }
        )
        +product-item(
            {
                img: './assets/images/product-3.png',
                text: 'Hazelnuts filbert nut'
            }
        )
        +product-item(
            {
                img: './assets/images/product-4.png',
                text: 'Raw broccoli'
            }
        )
        +product-item(
            {
                img: './assets/images/product-5.png',
                text: 'Organic quince'
            }
        )
    